<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombrep"> nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombrep" name="nombrep"[(ngModel)]="proyecto.nombrep" required>
                </div>
                <div class="form-group">
                    <label for="descripcionp"> descripcion</label>
                    <input type="text" class="form-control" id="descripciono" name="descripcionp" [(ngModel)]="proyecto.descripcionp" required>
                </div>
                <div class="form-group">
                    <label for="direccionp"> Editar Direccion</label>
                    <input type="text" class="form-control" id="direccionp" name="direccionp" [(ngModel)]="proyecto.direccionp" required>
                </div>
                <button class="btn btn-primary"> Actualizar proyecto</button>
            </form>
        </div>
    </div>
</div>